div,input,textarea {
    box-sizing: border-box; 
}

table {
    border-collapse: collapse;
}

body {
    margin: 0px;
}

.profile {
    width: 200px;
    display: block;
    margin: auto;
}

.title {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    text-align: center;
}

.box {
    width: 200px;
    background-color: antiquewhite;
    margin: 20px;
    padding: 30px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    box-shadow: 3px 3px 0px rgba(0,0,0,0.6);
}

.container{
    width: 800px;
}

.header {
    width: 100%;
    height: 50px;
    background-color: aquamarine;
}

.left-menu {
    width: 20%;
    height: 400px;
    background-color: cadetblue;
    display: inline-block;
    /* float: left; */
}

.right{
    width: 80%;
    height: 400px;
    background-color: beige;
    display: inline-block;
    vertical-align: top;
    /* float: left; */
}

.footer {
    width: 100%;
    height: 100px;
    background-color: burlywood;
    /* clear: both; */
}

.main-background {
    width: 100%;
    height: 500px;
    background-image: url(../img/shoes-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;

}

.main-title {
    color: white;
    font-size: 40px;
    margin-top: 100px;
    text-align: center;
}

.main-text {
    width: 60%;
    text-align: center;
    font-size: 14px;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.buy-button {
    margin-top: 100px;
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: 0px;
}

.buy-button a {
    text-decoration: none;
    color: bisque;
    font-size: large;
    font-weight: bold;
}

.desc-box {
    text-align: center;
    background-color: beige;
    height: 150px;
    width: 60%;
    position: relative;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;   
}

.desc-box p {
    margin: 15px;
}

.desc-box h2 {
    padding-top: 15px;
}

.from-background {
    background-color: grey;
    padding: 30px;
}

.form-white {
    background-color: white;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.form-input {
    box-sizing: border-box;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
}

.w-50 {
    width: 50%;
    float: left;
    padding: 10px;
}

.w-100 {
    width: 100%;
    padding: 10px;
}

.send-button {
    padding: 10px;
    background-color: blanchedalmond;
    display: block;
    margin-left: auto;
    color: black;
}

td,th {
    border: 1px solid cadetblue;
    padding: 10px;
        border-left: none;
    border-right: none;
}

.cart-background {
    width: 100%;
    height: 800px;
    background-color: cadetblue;
    padding: 50px;
}

.cart-box {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 80%;
    height: 50%;
    border-radius: 10px;
}

.cart-table {
    width: 100%;
    height: 100%;
}

.cart-img {
    width: 100%;
}

.cart-bottom {

padding-top: 25px;

}

.cart-button {

    background-color: blue;
    color: azure;
    width: 100px;
    height: 50px; 
    border-radius: 12px;
    border: none;
    display: block;
    margin-left: auto;
}