.profile {
    width: 200px;
    display: block;
    margin: auto;
}

.title {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    text-align: center;
}

.box {
    width: 200px;
    background-color: antiquewhite;
    margin: 20px;
    padding: 30px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    box-shadow: 3px 3px 0px rgba(0,0,0,0.6);
}

.container{
    width: 800px;
}

.header {
    width: 100%;
    height: 50px;
    background-color: aquamarine;
}

.left-menu {
    width: 20%;
    height: 400px;
    background-color: cadetblue;
    display: inline-block;
    /* float: left; */
}

.right{
    width: 80%;
    height: 400px;
    background-color: beige;
    display: inline-block;
    vertical-align: top;
    /* float: left; */
}

.footer {
    width: 100%;
    height: 100px;
    background-color: burlywood;
    /* clear: both; */
}