.container1 {

    width: 800px;

}

.profile-img {
    width: 50px;
    height: 50px;
}

.title {
    width: 70%;
    height: 20%;
}

.left-box {

    width: 60%;
    float: left;

}

.right-picture {
    margin-top: 40px;
    height: 100%;
    float: left;

}

.navbar li {
    display: inline-block;
    width: 60px;
    text-align: center;
    padding: 10px;
    margin-left: 80px;
}

.navbar a {
    font-size: 21px;
    text-decoration: none;
}