.container1 {

    width: 800px;

}

.profile-img {
    width: 50px;
    height: 50px;
}

.title {
    width: 70%;
    height: 20%;
}

.left-box {

    width: 60%;
    float: left;

}

.right-picture {
    margin-top: 40px;
    height: 100%;
    float: left;

}

.content {
    
}